.personal-info-form {
  display: flex;
  flex-direction: column;
  width: auto;
}

input {
  padding: 5px;
}

label {
  font-size: large;
}

table{
  text-align: left;
  border: none;
}
.radio-inline {
  display: inline;
}

h6 {
  text-align: left;
}
